body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #2c3e50, #3498db);
    color: #fff;
    text-align: center;
    transition: background 0.5s ease;
}

header {
    background: linear-gradient(45deg, #3498db, #2c3e50);
    color: #fff;
    padding: 20px;
    font-size: 28px;
    border-bottom: 2px solid #fff;
}

h1 {
    margin: 0;
}

nav {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-bottom: 2px solid #fff;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 18px;
    cursor: pointer;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.nav-links {
    display: inline-block;
    list-style: none;
    padding: 0;
}

.center-container {
    margin-top: 50px;
}

.first-container {
    text-align: center;
}

.main {
    font-size: 24px;
}

.second {
    font-size: 18px;
}

.ul {
    list-style-type: circle;
    padding: 0;
}

.str {
    font-size: 16px;
    margin-bottom: 10px;
}

.button-container {
    margin-top: 20px;
}

.button {
    background: linear-gradient(45deg, #3498db, #2c3e50);
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    border: 2px solid white;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.button:hover {
    background: linear-gradient(45deg, #2c3e50, #3498db);
}
